<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding Record</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cudget</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home Page</a></li>
            <li><a href="#">Statistic</a></li>
            <li><a href="#">Stocks</a></li>
            <li><a href="#">Society</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div>

    </div>
    <div class="container">
        <div class="col-lg-8">
            <form action="/add_record" method="post">
                Name: <input name="name" type="text"><br>
                Source: <input name="be_from" type="text"><br>
                Receiver: <input name="be_to" type="text"><br>
                Amount: <input name="amt" type="text"><br>
                Tag: <input name="tag" type="text"><br>
                Time: <input name="time" type="text"><br>
                Remark: <input name="remark" type="text"><br>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</body>
</html>