<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding Plans</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cudget</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home Page</a></li>
            <li><a href="#">Statistic</a></li>
            <li><a href="#">Stocks</a></li>
            <li><a href="#">Society</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div>

    </div>
    <div class="container">
        <div class="col-lg-8">
            <form action="/add_plan" method="post">
                Starting from: <input name="starting" type="text"><br>
                Ending from: <input name="ending" type="text"><br>
                Cycle: <input name="cycle" type="text"><br>
                Cycle: <input name="cycle" type="text"><br>
                Budget: <input name="budget" type="text"><br>
                <button type="submit">Add</button>
            </form>
        </div>
    </div>
</body>
</html>