<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign in</title>
    <form action="/signin" method="post" style="height: 100%;width:100%;">
        Username: <input name="username" type="text"><br>
        Password: <input name="password" type="password"><br>
        <button id="submit" type="submit">Sign In</button>
    </form>
    <form action="/tosignup" method="post" style="height: 100%;width:100%;">
        <button id="signup" type="submit">Sign Up</button>
    </form>
</head>
<body>

</body>
</html>