<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Owned Plans</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
	<link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
	<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
	<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
	<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
	<script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Cudget</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home Page</a></li>
            <li><a href="#">Statistic</a></li>
            <li><a href="#">Stocks</a></li>
            <li><a href="#">Society</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <div>

    </div>
    <div class="container">
        <div class="col-lg-8">
            <form action="/adding_plan" method="post">
                Adding a new plan
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="col-lg-8">
            {% for plan in plans%}
            <table class="table">
              <tbody>
                <tr>
                  <td>Start at</td>
                  <td>{{plan['starting']}}</td>
                </tr>
                <tr>
                  <td>End at</td>
                  <td>{{plan['ending']}}</td>
                </tr>
                <tr>
                  <td>Cycle</td>
                  <td>{{plan['cycle']}}</td>
                </tr>
                <tr>
                  <td>Credit</td>
                  <td>{{plan['credit']}}</td>
                </tr>
                <tr>
                  <td>Budget</td>
                  <td>{{plan['budget']}}</td>
                </tr>
                <tr>
                  <td>Delete</td>
                  <td>
                      <form action="/delete_plans" method="post">
                          <input name="pid" type="hidden" value={{plan['pid']}}>
                          <button id="submit" type="submit">Delete</button>
                      </form>
                  </td>
                </tr>
              </tbody>
            </table>
            {% endfor %}
        </div>
    </div>
</body>
</html>